{% extends 'hospital/base.html' %}

{% block content %}
<div class='container col-lg-5'>
	<div class="row ">

		<a href="{% url 'criar_usuario' %}" class="btn btn-dark col-lg-4 pt-5 pb-5 mb-2 mr-1"><i class="material-icons align-middle">person_add</i>Criar Usuário</a>
		<a href="{% url 'criar_floresta' %}" class="btn btn-dark col-lg-4 pt-5 pb-5 mb-2"><i class="material-icons align-middle text-success">swap_vert</i>Criar Florestas</a>
		<a href="{% url 'florestas' %}" class="btn btn-dark col-lg-4 pt-5 pb-5 mb-2  mr-1"><i class="material-icons align-middle"style=color:black>visibility</i>Ver Florestas</a>
		<a href="{% url 'florestas' %}" class="btn btn-dark col-lg-4 pt-5 pb-5 mb-2  mr-1"><i class="material-icons align-middle text-warning">swap_vert</i>Editar Florestas</a>

	</div>
</div>

{% endblock content %}